<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    id="cordova-plugin-adnaga-cb"
    version="0.1.0">

    <name>adnaga-cb</name>
    <description>adnaga chartboost plugin</description>
    <license>MIT</license>
    <keywords>cordova,adnaga,ads,ad,chartboost</keywords>
    <repo>https://github.com/adnaga/adnaga-cb</repo>
    <issue>https://github.com/adnaga/adnaga-cb/issues</issue>

    <js-module src="www/adnaga_cb.js" name="adnaga_cb">
        <clobbers target="adnaga_cb" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.chartboost.sdk.CBImpressionActivity"
                android:excludeFromRecents="true"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                android:configChanges="keyboardHidden|orientation|screenSize" />
        </config-file>

        <source-file src="src/android/chartboost.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/AdnagaChartboost.java" target-dir="src/com/adnaga/"/>
    </platform>
</plugin>
